USE [master]
GO
/****** Object:  Database [SE12]    Script Date: 3/21/2017 5:23:45 PM ******/
CREATE DATABASE [SE12]
 --CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SE12', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\SE12.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON							
( NAME = N'SE12_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\SE12_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SE12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SE12]
GO
/****** Object:  Table [dbo].[BaiDang]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang](
	[MaBaiDang] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DiaChiWeb] [nvarchar](50) NULL,
	[ViDo] [float] NULL,
	[KinhDo] [float] NULL,
	[SDT] [nvarchar](50) NULL,
	[GiaCaoNhat] [int] NULL,
	[GiaThapNhat] [int] NULL,
	[NgayDang] [date] NULL,
	[NgayHetHan] [date] NULL,
	[SoLuotTruyCap] [int] NULL,
	[SoLuotThich] [int] NULL,
	[Username] [nvarchar](20) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[MaLoaiTin] [int] NOT NULL,
	[MaTinhThanh] [int] NOT NULL,
	[DiemDanhGia] [int] NULL,
 CONSTRAINT [pk_BaiDang] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](120) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayBinhLuan] [date] NULL,
	[DiemDanhGia] [int] NULL,
	[MaBaiDang] [int] NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
 CONSTRAINT [pk_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTGiaoDich]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGiaoDich](
	[MaGiaoDich] [int] NOT NULL,
	[MaGoi] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [pk_CTGiaoDich] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC,
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVuBD]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuBD](
	[MaDichVu] [int] NOT NULL,
	[MaBaiDang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC,
	[MaBaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[NgayGiaoDich] [date] NULL,
	[ThanhTien] [int] NULL,
	[Username] [nvarchar](20) NOT NULL,
 CONSTRAINT [pk_GiaoDich] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goi]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goi](
	[MaGoi] [int] IDENTITY(1,1) NOT NULL,
	[TenGoi] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [pk_Goi] PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaHinh] [int] IDENTITY(1,1) NOT NULL,
	[TenHinh] [nvarchar](50) NOT NULL,
	[MaBaiDang] [int] NOT NULL,
 CONSTRAINT [pk_HinhAnh] PRIMARY KEY CLUSTERED 
(
	[MaHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[MaBaiDang] [int] NOT NULL,
 CONSTRAINT [pk_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLienHe] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayGui] [date] NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[MaVanDe] [int] NOT NULL,
 CONSTRAINT [pk_LienHe] PRIMARY KEY CLUSTERED 
(
	[MaLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[MaLoaiTK] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTK] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTin]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTin](
	[MaLoaiTin] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTin] [nvarchar](50) NOT NULL,
	[CapDoTin] [int] NULL,
 CONSTRAINT [pk_LoaiTin] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTKUuDai]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTKUuDai](
	[MaLoaiTK] [int] NOT NULL,
	[MaUuDai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTK] ASC,
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LuuBD]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuBD](
	[MaBaiDang] [int] NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[NgayLuu] [date] NULL,
 CONSTRAINT [pk_LuuBD] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](20) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Avatar] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](50) NULL,
	[NgayDangKy] [date] NULL,
	[MaQuyen] [int] NOT NULL,
	[MaLoaiTK] [int] NOT NULL,
 CONSTRAINT [pk_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thich]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thich](
	[MaBaiDang] [int] NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[NgayThich] [date] NULL,
 CONSTRAINT [pk_Thich] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhThanh] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UuDai]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai](
	[MaUuDai] [int] IDENTITY(1,1) NOT NULL,
	[TenUuDai] [nvarchar](50) NOT NULL,
	[ThoiHanUuDai] [int] NOT NULL,
	[MaLoaiTK] [int] NOT NULL,
 CONSTRAINT [pk_UuDai] PRIMARY KEY CLUSTERED 
(
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VanDe]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanDe](
	[MaVanDe] [int] IDENTITY(1,1) NOT NULL,
	[TenVanDe] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_VanDe] PRIMARY KEY CLUSTERED 
(
	[MaVanDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaiDang] ON 

SET IDENTITY_INSERT [dbo].[BaiDang] OFF
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [NgayBinhLuan], [DiemDanhGia], [MaBaiDang], [Username]) VALUES (1, N'Ý kiến', N'Không có ý kiến', CAST(0x853C0B00 AS Date), 4, 1, N'hoangan')
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [NgayBinhLuan], [DiemDanhGia], [MaBaiDang], [Username]) VALUES (2, N'Ý kiến', N'Không có ý kiến', CAST(0x853C0B00 AS Date), 4, 1, N'hoangan')
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [NgayBinhLuan], [DiemDanhGia], [MaBaiDang], [Username]) VALUES (3, N'Ý kiến', N'Không có ý kiến', CAST(0x853C0B00 AS Date), 4, 2, N'hoangan')
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (1, N'Làm đẹp')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Kinh doanh')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (3, N'Dich vụ ăn uống')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu]) VALUES (1, N'Wifi Free')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu]) VALUES (2, N'Vật nuôi thân thiện')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu]) VALUES (3, N'Góc trẻ em')
SET IDENTITY_INSERT [dbo].[DichVu] OFF
INSERT [dbo].[DichVuBD] ([MaDichVu], [MaBaiDang]) VALUES (1, 1)
INSERT [dbo].[DichVuBD] ([MaDichVu], [MaBaiDang]) VALUES (1, 2)
INSERT [dbo].[DichVuBD] ([MaDichVu], [MaBaiDang]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[HinhAnh] ON 

INSERT [dbo].[HinhAnh] ([MaHinh], [TenHinh], [MaBaiDang]) VALUES (9, N'upload/img/bai-dang/20170317_14_02_05_0.', 4)
INSERT [dbo].[HinhAnh] ([MaHinh], [TenHinh], [MaBaiDang]) VALUES (10, N'upload/img/bai-dang/20170317_14_12_07_0.jpg', 5)
INSERT [dbo].[HinhAnh] ([MaHinh], [TenHinh], [MaBaiDang]) VALUES (11, N'upload/img/bai-dang/20170317_14_12_07_1.jpg', 5)
SET IDENTITY_INSERT [dbo].[HinhAnh] OFF
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] ON 

INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (1, N'Người dùng thông thường')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (2, N'Người dùng thân thiết')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (3, N'Người dùng V.I.P')
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[LoaiTin] ON 

INSERT [dbo].[LoaiTin] ([MaLoaiTin], [TenLoaiTin], [CapDoTin]) VALUES (1, N'Chưa duyệt', 1)
INSERT [dbo].[LoaiTin] ([MaLoaiTin], [TenLoaiTin], [CapDoTin]) VALUES (2, N'Đã duyệt', 2)
INSERT [dbo].[LoaiTin] ([MaLoaiTin], [TenLoaiTin], [CapDoTin]) VALUES (3, N'Tin vip', 3)
SET IDENTITY_INSERT [dbo].[LoaiTin] OFF
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'User')
INSERT [dbo].[TaiKhoan] ([Username], [Pass], [Email], [Avatar], [HoTen], [GioiTinh], [NgaySinh], [SDT], [NgayDangKy], [MaQuyen], [MaLoaiTK]) VALUES (N'admin', N'123', N'admin@gmail.com', N'admin.jpg', N'Nguyen Long', 0, CAST(0x2A1D0B00 AS Date), N'0905302222', CAST(0x833C0B00 AS Date), 1, 4)
INSERT [dbo].[TaiKhoan] ([Username], [Pass], [Email], [Avatar], [HoTen], [GioiTinh], [NgaySinh], [SDT], [NgayDangKy], [MaQuyen], [MaLoaiTK]) VALUES (N'DonNA', N'123', N'Bcat9505@gmail.com', N'user.png', N'Nguyễn Anh Đôn', NULL, NULL, NULL, NULL, 2, 1)
INSERT [dbo].[TaiKhoan] ([Username], [Pass], [Email], [Avatar], [HoTen], [GioiTinh], [NgaySinh], [SDT], [NgayDangKy], [MaQuyen], [MaLoaiTK]) VALUES (N'hoangan', N'123', N'hoangan@gmail.com', N'hoangan.jpg', N'Nguyen An', 0, CAST(0x2A1D0B00 AS Date), N'0905302222', CAST(0x833C0B00 AS Date), 2, 1)
INSERT [dbo].[Thich] ([MaBaiDang], [Username], [NgayThich]) VALUES (3, N'DonNa', NULL)
INSERT [dbo].[Thich] ([MaBaiDang], [Username], [NgayThich]) VALUES (8, N'DonNa', NULL)
INSERT [dbo].[Thich] ([MaBaiDang], [Username], [NgayThich]) VALUES (21, N'DonNa', NULL)
SET IDENTITY_INSERT [dbo].[TinhThanh] ON 

INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (1, N'Đà Nẵng')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (2, N'Đà Lạt')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (3, N'Huế')
SET IDENTITY_INSERT [dbo].[TinhThanh] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TaiKhoan__A9D10534281FC49B]    Script Date: 3/21/2017 5:23:45 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_DanhMuc]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_LoaiTin] FOREIGN KEY([MaLoaiTin])
REFERENCES [dbo].[LoaiTin] ([MaLoaiTin])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_LoaiTin]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_TaiKhoan]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_TinhThanh] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_TinhThanh]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_BinhLuan_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_BinhLuan_BaiDang]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_BinhLuan_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_BinhLuan_TaiKhoan]
GO
ALTER TABLE [dbo].[CTGiaoDich]  WITH CHECK ADD  CONSTRAINT [fk_CTGiaoDich_GiaoDich] FOREIGN KEY([MaGiaoDich])
REFERENCES [dbo].[GiaoDich] ([MaGiaoDich])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTGiaoDich] CHECK CONSTRAINT [fk_CTGiaoDich_GiaoDich]
GO
ALTER TABLE [dbo].[CTGiaoDich]  WITH CHECK ADD  CONSTRAINT [fk_CTGiaoDich_Goi] FOREIGN KEY([MaGoi])
REFERENCES [dbo].[Goi] ([MaGoi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTGiaoDich] CHECK CONSTRAINT [fk_CTGiaoDich_Goi]
GO
ALTER TABLE [dbo].[DichVuBD]  WITH CHECK ADD  CONSTRAINT [fk_DichVuBD_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVuBD] CHECK CONSTRAINT [fk_DichVuBD_BaiDang]
GO
ALTER TABLE [dbo].[DichVuBD]  WITH CHECK ADD  CONSTRAINT [fk_DichVuBD_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVuBD] CHECK CONSTRAINT [fk_DichVuBD_DichVu]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [fk_GiaoDich_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [fk_GiaoDich_TaiKhoan]
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [fk_HinhAnh_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [fk_HinhAnh_BaiDang]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [fk_KhuyenMai_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [fk_KhuyenMai_BaiDang]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [fk_LienHe_VanDe] FOREIGN KEY([MaVanDe])
REFERENCES [dbo].[VanDe] ([MaVanDe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [fk_LienHe_VanDe]
GO
ALTER TABLE [dbo].[LoaiTKUuDai]  WITH CHECK ADD  CONSTRAINT [fk_LoaiTKUuDai_LoaiTaiKhoan] FOREIGN KEY([MaLoaiTK])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoaiTKUuDai] CHECK CONSTRAINT [fk_LoaiTKUuDai_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[LoaiTKUuDai]  WITH CHECK ADD  CONSTRAINT [fk_LoaiTKUuDai_UuDai] FOREIGN KEY([MaUuDai])
REFERENCES [dbo].[UuDai] ([MaUuDai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoaiTKUuDai] CHECK CONSTRAINT [fk_LoaiTKUuDai_UuDai]
GO
ALTER TABLE [dbo].[LuuBD]  WITH CHECK ADD  CONSTRAINT [fk_LuuBD_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[LuuBD] CHECK CONSTRAINT [fk_LuuBD_BaiDang]
GO
ALTER TABLE [dbo].[LuuBD]  WITH CHECK ADD  CONSTRAINT [fk_LuuBD_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[LuuBD] CHECK CONSTRAINT [fk_LuuBD_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [fk_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([MaLoaiTK])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [fk_TaiKhoan_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [fk_TaiKhoan_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [fk_TaiKhoan_Quyen]
GO
ALTER TABLE [dbo].[Thich]  WITH CHECK ADD  CONSTRAINT [fk_Thich_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[Thich] CHECK CONSTRAINT [fk_Thich_BaiDang]
GO
ALTER TABLE [dbo].[Thich]  WITH CHECK ADD  CONSTRAINT [fk_Thich_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[Thich] CHECK CONSTRAINT [fk_Thich_TaiKhoan]
GO
/****** Object:  Trigger [dbo].[DiemTB]    Script Date: 3/21/2017 5:23:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DiemTB]
ON [dbo].[BinhLuan]
FOR INSERT AS 
BEGIN
	UPDATE BaiDang
	SET DiemDanhGia = (select AVG(bl.DiemDanhGia) as diemtb
					from BaiDang bd inner join BinhLuan bl on bd.MaBaiDang=bl.MaBaiDang
					inner join TaiKhoan tk on bl.Username=tk.Username
					where bd.MaBaiDang=BaiDang.MaBaiDang
					group by bd.MaBaiDang)
	FROM BinhLuan
	WHERE BaiDang.MaBaiDang=BinhLuan.MaBaiDang;
	
	PRINT N'Đã cập nhật điểm đánh giá trong bài đăng. DiemTB'
	
END


GO
USE [master]
GO
